.wpes-wrap {
	line-height: 1.8em;
}

.wpes-table tr th, .wpes-table tr td {
	padding: 0 20px 0 0;
}

.wpes-table tr th.last, .wpes-table tr td.last {
	padding: 0;
}

.wpes-table td h3 {
	margin-top: 0;
}

.wpes-table th {
	text-align: left;
}

.wpes-table th, .wpes-table td {
	width: 25%;
	vertical-align: top;
}

.wpes-table th[colspan="2"], .wpes-table td[colspan="2"] {
	width: 50%;
}

.wpes-table th[colspan="3"], .wpes-table td[colspan="3"] {
	width: 750%;
}
