@charset "UTF-8";
.wpes-wrap {
  line-height: 1.8em;
}
.wpes-wrap .dashicons-before:before {
  font-size: 30px;
  width: 30px;
}
.wpes-wrap h2 em {
  font-style: normal;
  opacity: 0.5;
}
.wpes-wrap .wpes-table tr td, .wpes-wrap .wpes-table tr th {
  padding: 0 20px 0 0;
}
.wpes-wrap .wpes-table tr td.last, .wpes-wrap .wpes-table tr th.last {
  padding: 0;
}
.wpes-wrap .wpes-table td {
  vertical-align: top;
}
.wpes-wrap .wpes-table td h3 {
  margin-top: 0;
}
.wpes-wrap .wpes-table td, .wpes-wrap .wpes-table th {
  width: 25%;
  vertical-align: top;
  text-align: left;
}
.wpes-wrap .wpes-table td[colspan="2"], .wpes-wrap .wpes-table th[colspan="2"] {
  width: 50%;
}
.wpes-wrap .wpes-table td[colspan="3"], .wpes-wrap .wpes-table th[colspan="3"] {
  width: 75%;
}

/**
 Settings panel
 */
/**
 Admins panel
 */
.wpes-admins .a-regexp.error {
  border-color: red;
  background: #ff9e8b;
}
.wpes-admins .a-regexp.match {
  border-color: #00a800;
  background: #97e396;
}
.wpes-admins .a-fail.match {
  background-color: #80ff8e;
}

.wpes-admin {
  width: calc(100% - 200px - 20px);
}
.wpes-admin.wpes-emails {
  width: initial;
}
.wpes-admin * {
  box-sizing: border-box;
}
.wpes-admin .inside {
  padding: 12px !important;
  margin: 0 !important;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.wpes-admin .inside > * {
  margin: 0;
}
.wpes-admin .inside.cols {
  display: flex;
  flex-direction: row;
}
.wpes-admin .inside.col {
  max-width: 50%;
  flex: 1;
}
.wpes-admin select {
  max-width: 100%;
}

.email-preview {
  width: 100%;
  height: auto;
  min-height: 600px;
}

.wpes-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.wpes-form-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
}
.wpes-form-item label {
  width: 25%;
  font-weight: 700;
}
@media (max-width: 768px) {
  .wpes-form-item label {
    width: 100%;
  }
}
.wpes-form-item input:not([type=checkbox]):not([type=radio]),
.wpes-form-item select:not([type=checkbox]):not([type=radio]) {
  flex-grow: 1;
}
.wpes-form-item input[type=checkbox], .wpes-form-item input[type=radio] {
  margin: 0;
}

.wpes-notice, .wpes-notice--success, .wpes-notice--warning, .wpes-notice--error, .wpes-notice--info {
  width: 100%;
  padding: 8px;
  border: 1px solid #c3c4c7;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  background: #fafafa;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.wpes-notice pre, .wpes-notice--success pre, .wpes-notice--warning pre, .wpes-notice--error pre, .wpes-notice--info pre {
  white-space: normal;
}
.wpes-notice .warning, .wpes-notice--success .warning, .wpes-notice--warning .warning, .wpes-notice--error .warning, .wpes-notice--info .warning {
  display: block;
  width: 100%;
}
.wpes-notice .title, .wpes-notice--success .title, .wpes-notice--warning .title, .wpes-notice--error .title, .wpes-notice--info .title {
  display: block;
  font-size: 1.1em;
}
.wpes-notice .title:not(:first-child), .wpes-notice--success .title:not(:first-child), .wpes-notice--warning .title:not(:first-child), .wpes-notice--error .title:not(:first-child), .wpes-notice--info .title:not(:first-child) {
  margin-top: 16px;
}
.wpes-notice *, .wpes-notice--success *, .wpes-notice--warning *, .wpes-notice--error *, .wpes-notice--info * {
  margin: 0;
}
.wpes-notice--info {
  border-left: 4px solid #72aee6;
  background: #f4f9fd;
}
.wpes-notice--error {
  border-left: 4px solid #d63638;
  background: #fcf0f1;
}
.wpes-notice--warning {
  border-left: 4px solid #ff6700;
  background: #fff9f5;
}
.wpes-notice--success {
  border-left: 4px solid #00a32a;
  background: #f5fff7;
}

.wpes-info-table {
  border-collapse: collapse;
  border: 1px solid #c3c4c7;
  margin-top: 8px;
}
.wpes-info-table.equal th {
  width: 50%;
}
.wpes-info-table th {
  text-align: left;
}
.wpes-info-table th,
.wpes-info-table td {
  border: 1px solid #c3c4c7;
  padding: 8px;
}

.wpes-radio-list {
  display: grid;
  grid-template-columns: 16px 1fr;
  gap: 8px;
  align-items: center;
}
.wpes-radio-list.arrow-down {
  position: relative;
  padding-left: 60px;
}
.wpes-radio-list.arrow-down:after {
  content: "";
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 302.816 302.816" style="enable-background:new 0 0 302.816 302.816;" xml:space="preserve"><path id="XMLID_6_" d="M298.423,152.996c-5.857-5.858-15.354-5.858-21.213,0l-35.137,35.136     c-5.871-59.78-50.15-111.403-112.001-123.706c-45.526-9.055-92.479,5.005-125.596,37.612c-5.903,5.813-5.977,15.31-0.165,21.213     c5.813,5.903,15.31,5.977,21.212,0.164c26.029-25.628,62.923-36.679,98.695-29.565c48.865,9.72,83.772,50.677,88.07,97.978     l-38.835-38.835c-5.857-5.857-15.355-5.858-21.213,0.001c-5.858,5.858-5.858,15.355,0,21.213l62.485,62.485     c2.929,2.929,6.768,4.393,10.606,4.393s7.678-1.464,10.607-4.393l62.483-62.482C304.281,168.352,304.281,158.854,298.423,152.996z"/></svg>');
  width: 50px;
  height: 50px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  bottom: -10px;
  left: 0;
  transform: scaleX(-1);
}
.wpes-radio-list input {
  margin: 0;
}
.wpes-radio-list label strong {
  display: block;
}

.wpes-tools {
  position: fixed;
  bottom: 40px;
  right: 20px;
  width: 200px;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.wpes-tools--box, .wpes-tools--box__toc {
  padding: 8px;
  border: 1px solid #c3c4c7;
  background: white;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.wpes-tools--box em b, .wpes-tools--box__toc em b {
  display: block;
}
.wpes-tools--box *, .wpes-tools--box__toc * {
  margin: 0;
}
.wpes-tools--box .toc, .wpes-tools--box__toc .toc {
  font-size: 0.85em;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.wpes-tools--box .toc li, .wpes-tools--box__toc .toc li {
  padding-left: 10px;
  position: relative;
}
.wpes-tools--box .toc li:before, .wpes-tools--box__toc .toc li:before {
  content: "•";
  position: absolute;
  top: 0;
  left: 0;
}
@media (max-height: 660px) {
  .wpes-tools--box__toc {
    display: none;
  }
}

#email-preview {
  background: transparent;
}
#email-preview .postbox-header {
  background: white;
}

.wpes-email-history {
  height: 400px;
  overflow: auto;
  border: 1px solid #c3c4c7;
}
.wpes-email-history thead {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: white;
}
.wpes-email-history table {
  border: 0;
}
.wpes-email-history .eml {
  width: 100px;
}
.wpes-email-history #the-list tr {
  cursor: pointer;
}
.wpes-email-history #the-list tr:hover {
  background: rgba(0, 0, 0, 0.075);
}
.wpes-email-history #the-list tr.active {
  background: #deecf9;
}

.wpes-emails .pager {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.wpes-emails #mail-viewer {
  position: relative;
  border: 1px solid #c3c4c7;
  height: 600px;
  width: 100%;
}
.wpes-emails #mail-viewer .debug, .wpes-emails #mail-viewer .body, .wpes-emails #mail-viewer .alt_body, .wpes-emails #mail-viewer .headers {
  display: none;
  height: 0;
  width: 0;
}
.wpes-emails #mail-viewer .show-debug .debug, .wpes-emails #mail-viewer .show-body .body, .wpes-emails #mail-viewer .show-alt-body .alt_body, .wpes-emails #mail-viewer .show-headers .headers {
  display: block;
  height: 100%;
  width: 100%;
}
.wpes-emails #mail-data-viewer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}
.wpes-emails #mail-data-viewer .email-data.show-debug, .wpes-emails #mail-data-viewer .show-body, .wpes-emails #mail-data-viewer .show-alt-body, .wpes-emails #mail-data-viewer .show-headers {
  padding-top: 20px;
  height: 100%;
  width: 100%;
}
.wpes-emails #mail-data-viewer > div > span:after {
  content: attr(data-legend);
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  color: white;
  border-bottom-right-radius: 5px;
  padding: 3px 10px;
}

/*# sourceMappingURL=wpes-admin.css.map*/