.wpes-wrap {
  line-height: 1.8em;
}
.wpes-wrap .dashicons-before:before {
  font-size: 30px;
  width: 30px;
}
.wpes-wrap h2 em {
  font-style: normal;
  opacity: 0.5;
}
.wpes-wrap .wpes-table tr td, .wpes-wrap .wpes-table tr th {
  padding: 0 20px 0 0;
}
.wpes-wrap .wpes-table tr td.last, .wpes-wrap .wpes-table tr th.last {
  padding: 0;
}
.wpes-wrap .wpes-table td {
  vertical-align: top;
}
.wpes-wrap .wpes-table td h3 {
  margin-top: 0;
}
.wpes-wrap .wpes-table td, .wpes-wrap .wpes-table th {
  width: 25%;
  vertical-align: top;
  text-align: left;
}
.wpes-wrap .wpes-table td[colspan="2"], .wpes-wrap .wpes-table th[colspan="2"] {
  width: 50%;
}
.wpes-wrap .wpes-table td[colspan="3"], .wpes-wrap .wpes-table th[colspan="3"] {
  width: 75%;
}

/**
 Settings panel
 */
/**
 Admins panel
 */
.wpes-admins .a-regexp {
  width: 300px;
}
.wpes-admins .a-regexp.error {
  border-color: red;
  background: #ff9e8b;
}
.wpes-admins .a-regexp.match {
  border-color: #00a800;
  background: #97e396;
}
.wpes-admins .a-fail.match {
  background-color: #80ff8e;
}

/**
 E-mails panel
 */
.wpes-emails .pager {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.wpes-emails #mail-viewer {
  position: relative;
  border: 1px solid grey;
  height: 600px;
  width: 100%;
}
.wpes-emails #mail-viewer .top-panel {
  position: relative;
  height: 30%;
  overflow: auto;
  width: 100%;
  max-width: 100%;
}
.wpes-emails #mail-viewer #mail-index {
  margin: 0;
  padding: 0;
  list-style: none;
  display: table;
}
.wpes-emails #mail-viewer #mail-index li {
  margin: 0;
  padding: 0;
  line-height: 16px;
  cursor: pointer;
  display: table-row;
}
.wpes-emails #mail-viewer #mail-index li:nth-child(2n+1) {
  background: #e0e0e0;
}
.wpes-emails #mail-viewer #mail-index li:hover {
  background: darkgrey;
  color: white;
}
.wpes-emails #mail-viewer #mail-index li:hover .dashicons {
  color: white;
}
.wpes-emails #mail-viewer #mail-index li .eml, .wpes-emails #mail-viewer #mail-index li .thedatetime, .wpes-emails #mail-viewer #mail-index li .recipient, .wpes-emails #mail-viewer #mail-index li .sender, .wpes-emails #mail-viewer #mail-index li .subject, .wpes-emails #mail-viewer #mail-index li .status {
  overflow: hidden;
  display: table-cell;
  border-right: 1px solid grey;
  padding: 3px;
  height: 100%;
  width: 20%;
}
.wpes-emails #mail-viewer #mail-index li .eml {
  width: auto;
}
.wpes-emails #mail-viewer #mail-index li .thedatetime {
  width: 12%;
}
.wpes-emails #mail-viewer #mail-index li .subject {
  width: 25%;
}
.wpes-emails #mail-viewer #mail-index li .status {
  width: 20%;
  border-right: none;
}
.wpes-emails #mail-viewer #mail-index #email-header {
  background: grey;
  color: white;
  font-weight: bold;
}
.wpes-emails #mail-viewer #mail-index li.active {
  background: black;
  color: white;
  font-weight: bold;
}
.wpes-emails #mail-viewer #mail-index li.active .thedatetime, .wpes-emails #mail-viewer #mail-index li.active .recipient, .wpes-emails #mail-viewer #mail-index li.active .sender, .wpes-emails #mail-viewer #mail-index li.active .subject, .wpes-emails #mail-viewer #mail-index li.active .status {
  overflow-y: auto;
  white-space: initial;
}
.wpes-emails #mail-viewer .debug, .wpes-emails #mail-viewer .body, .wpes-emails #mail-viewer .alt_body, .wpes-emails #mail-viewer .headers {
  display: none;
  height: 0;
  width: 0;
}
.wpes-emails #mail-viewer .show-debug .debug, .wpes-emails #mail-viewer .show-body .body, .wpes-emails #mail-viewer .show-alt-body .alt_body, .wpes-emails #mail-viewer .show-headers .headers {
  display: block;
  height: 100%;
  width: 100%;
}
.wpes-emails #mail-data-viewer {
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  height: 69%;
  border-top: 1px solid grey;
  overflow: auto;
}
.wpes-emails #mail-data-viewer .email-data.show-debug, .wpes-emails #mail-data-viewer .show-body, .wpes-emails #mail-data-viewer .show-alt-body, .wpes-emails #mail-data-viewer .show-headers {
  height: 100%;
  width: 100%;
}

/**
 Moderators panel
 */
.wpes-moderators #outpost input[type=text] {
  width: 400px;
}

/*# sourceMappingURL=wpes-admin.css.map*/